#appcontent
  > #tabbrowser-tabbox
  > #tabbrowser-tabpanels
  > .deck-selected
  > .browserContainer
  > .browserStack
  > browser {
  border-radius: 10px !important;
  margin: 10px !important;
}

stack.browserStack {
          background: rgb(255,236,245);
background: radial-gradient(circle, rgba(255,236,245,1) 0%, rgba(246,250,255,1) 100%); 
}

/* SIDEBERY */

/* hides the sidebar header */
#sidebar-header {
 display: none !important;
}

.tab[selected="true"] {
 visibility: collapse;
 height: 0px;
}

.tabbrowser-tab {
 visibility: collapse;
 height: 0px;
}

.tabbrowser-tab[visuallyselected="true"] {
 visibility: collapse;
 height: 0px;
}

/* AUTO HIDE SIDE BAR */

#sidebar-box {
 --uc-sidebar-width: 50px; 
 --uc-sidebar-hover-width: 200px;
 --uc-autohide-sidebar-delay: 1ms; /* Waiting time before hiding sidebar */
 position: relative;
 min-width: var(--uc-sidebar-width) !important;
 width: var(--uc-sidebar-width) !important;
 max-width: var(--uc-sidebar-width) !important;
 z-index: 100;
}

#sidebar-box[positionend] {
 direction: rtl;
}
#sidebar-box[positionend] > * {
 direction: ltr;
}

#sidebar-box[positionend]:-moz-locale-dir(rtl) {
 direction: ltr;
}
#sidebar-box[positionend]:-moz-locale-dir(rtl) > * {
 direction: rtl;
}

/* HIDE SIDE BAR IN FULL SCREEN */
/* #main-window[inFullscreen="true"] #sidebar-box {
 --uc-sidebar-width: 0px;
} */

#sidebar-splitter {
 display: none;
}

#sidebar-header {
 overflow: hidden;
 color: var(--chrome-color, inherit) !important;
}

#sidebar {
 transition: min-width 115ms linear var(--uc-autohide-sidebar-delay) !important;
 min-width: var(--uc-sidebar-width) !important;
 will-change: min-width;
}

#sidebar-box:hover > #sidebar {
 min-width: var(--uc-sidebar-hover-width) !important;
 transition-delay: 0ms !important;
}

.sidebar-panel {
 background-color: transparent !important;
 color: var(--newtab-text-primary-color) !important;
}

.sidebar-panel #search-box {
 -moz-appearance: none !important;
 background-color: rgba(249, 249, 250, 0.1) !important;
 color: inherit !important;
}

/* Add sidebar divider and give it background */

#sidebar,
#sidebar-header {
 background-color: inherit !important;
/* 	border-inline: 1px solid rgb(80, 80, 80); */
 border-inline-width: 0px 1px;
}

#sidebar-box:not([positionend]) > :-moz-locale-dir(rtl),
#sidebar-box[positionend] > * {
 border-inline-width: 1px 0px;
}

/* Move statuspanel to the other side when sidebar is hovered so it doesn't get covered by sidebar */

#sidebar-box:not([positionend]):hover ~ #appcontent #statuspanel {
 inset-inline: auto 0px !important;
}
#sidebar-box:not([positionend]):hover ~ #appcontent #statuspanel-label {
 margin-inline: 0px !important;
 border-left-style: solid !important;
}


/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/autohide_toolbox.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Hide the whole toolbar area unless urlbar is focused or cursor is over the toolbar */
/* Dimensions on non-Win10 OS probably needs to be adjusted */

/* Compatibility options for hide_tabs_toolbar.css and tabs_on_bottom.css at the end of this file */

:root{
  --uc-autohide-toolbox-delay: 200ms; /* Wait 0.1s before hiding toolbars */
  --uc-toolbox-rotation: 82deg;  /* This may need to be lower on mac - like 75 or so */
}

:root[sizemode="maximized"]{
  --uc-toolbox-rotation: 88.5deg;
}

@media  (-moz-platform: windows){
  #navigator-toolbox:not(:-moz-lwtheme){ background-color: -moz-dialog !important; }
}

:root[sizemode="fullscreen"],
#navigator-toolbox[inFullscreen]{ margin-top: 0 !important; }

#navigator-toolbox{
  position: fixed !important;
  display: block;
  background-color: var(--lwt-accent-color,black) !important;
  transition: transform 82ms linear, opacity 82ms linear !important;
  transition-delay: var(--uc-autohide-toolbox-delay) !important;
  transform-origin: top;
  transform: rotateX(var(--uc-toolbox-rotation));
  opacity: 0;
  line-height: 0;
  z-index: 1;
  pointer-events: none;
}

#navigator-toolbox:hover,
#navigator-toolbox:focus-within{
  transition-delay: 33ms !important;
  transform: rotateX(0);
  opacity: 1;
}
/* This ruleset is separate, because not having :has support breaks other selectors as well */
#mainPopupSet:has(> #appMenu-popup:hover) ~ toolbox{
  transition-delay: 33ms !important;
  transform: rotateX(0);
  opacity: 1;
}

#navigator-toolbox > *{ line-height: normal; pointer-events: auto }

#navigator-toolbox,
#navigator-toolbox > *{
  width: 100vw;
  -moz-appearance: none !important;
}

/* These two exist for oneliner compatibility 
#nav-bar{  visibility: collapse;
  height: 0px;}
*/
#TabsToolbar{  visibility: collapse;
  height: 0px; } 

/* Don't apply transform before window has been fully created */
:root:not([sessionrestored]) #navigator-toolbox{ transform:none !important }

:root[customizing] #navigator-toolbox{
  position: relative !important;
  transform: none !important;
  opacity: 1 !important;
}

#navigator-toolbox[inFullscreen] > #PersonalToolbar,
#PersonalToolbar[collapsed="true"]{ display: none }

/* Uncomment this if tabs toolbar is hidden with hide_tabs_toolbar.css */
 /*#titlebar{ margin-bottom: -9px }*/


#urlbar[breakout] > #urlbar-input-container {
  background-color: #edf2feff !important;
  font-size: 10pt;
}

#TabsToolbar, #sidebar-header, #sidebar-splitter {
  display: none;
}
/* note: if your minimize, exit, etc menu is gone, press alt, right click the menu bar and check mark it */

#tabbrowser-tabpanels {
  browser[type="content"] {
    box-shadow: #3434ff03 1px 1px 20px 10px;
  }
}

:root:not([inFullscreen], [tabsintitlebar]) #nav-bar:not([tabs-hidden="true"]), #nav-bar:not([tabs-hidden="true"]):-moz-lwtheme {
  box-shadow: 0 calc(-1 * var(--tabs-navbar-shadow-size)) 0 var(--lwt-tabs-border-color, rgba(0,0,0,.3));
  background-color: #edf2feff !important;
}

